// Vars
$blue:    #008EE2;
$green:   #189C2C;
$purple:  #AA4092;
$red:     #CA1424;
$orange:  #DF6830;
$gray:    #73818C;

// Scaffolding
body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: $gray;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.img--responsive {
  width: 100%;
  height: auto;
  display: block;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 10px 0 7px;
  color: $blue;
}

h4 {
  font-size: 1.15rem;
  line-height: 1.25;
  margin: 0 0 5px;
}

.container {
  display: flex;
  justify-content: start-justify;
  padding: 20px;
  flex-wrap: wrap;
  .container__desc {
    width: 100%;
    margin-bottom: 20px;
  }
}

// Card

.card {
  position: relative;
  width: 24%;
  margin: 0 .5%;
  margin-bottom: 20px;
  overflow: hidden;
}

.card__header {
  position: relative;
  svg {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    z-index: 800;
    font-size: 2rem;
  }
}

.card__header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  &--blue {
    background: linear-gradient(rgba(0, 142, 226, .5), rgba(0, 142, 226, .5));
  }
  &--green {
    background: linear-gradient(rgba(24, 156, 44, .5), rgba(24, 156, 44, .5));
  }
  &--purple {
    background: linear-gradient(rgba(170, 64, 146, .5), rgba(170, 64, 146, .5));
  }
  &--red {
    background: linear-gradient(rgba(202, 20, 36, .5), rgba(202, 20, 366, .5));
  }
  &--orange {
    background: linear-gradient(rgba(223, 104, 48, .5), rgba(223, 104, 48, .5));
  }
}

.card__content {
  position: relative;
  padding: 0 15px;
  svg {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 1.5rem;
    color: $blue;
    cursor: pointer;
  }
  h3 {
    padding-right: 20px;
  }
}

.card__content-desc {
  max-height: 90px;
  overflow: hidden;
  content: '';
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 50%, white);
  }
}

.card__reveal {
  position: absolute;
  padding: 0 15px;
  top: 100%;
  background: #fff;
  z-index: 800;
  height: 80%;
  overflow: scroll;
  transition: top 0.5s;
  svg {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  &.isVisible {
    top: 0;
    transition: top 0.5s;
  }
}

.card__actions {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;
  z-index: 900;
  a {
    width: 24%;
    color: $gray;
    font-size: 1.5rem;
  }
}

.card__stripe {
  position: relative;
  height: 4px;
  width: 100%;
  z-index: 900;
  &--blue {
    background-color: $blue;
  }
  &--green {
    background-color: $green;
  }
  &--purple {
    background-color: $purple;
  }
  &--red {
    background-color: $red;
  }
  &--orange {
    background-color: $orange;
  }
}

// Responsive. Normally I would have mixins for these... but for the sake of time!
@media only screen and (max-width: 960px) {
  .card {
    width: 49%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
